*{
    margin: 0;
    padding: 0;
}
body{
   background-color: rgb(202, 199, 199);
   margin: 0px 10px;
}
nav{
    margin-top: 5px;
    margin-left: 10px;
    
}
li{
    list-style: none;
    display: inline;    
}
li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 20px;
    float: right;
}
li a:hover{
    background-color: transparent;
    scale: 1.2;
}
img{
    margin-top: 0px;
    width: 100px;

}
.page1{
    width: 100%;
    height: 700px ;
    z-index: -1;
} 
.class-image{
    width: 100%;
    height: 700px;
    border-radius: 5px;
    
}
label{
    font-size: 40px;
}
.page2{
    background-image: linear-gradient(from left to right, white , gray);
    height: 600px;
    
}



